
<style type="text/css">
        #add_toproducts{
		   padding: 20px;
           border: 1px solid black;  
           background-color: #FDF2E9;  
           top: 100;
           left:280px;
           position: absolute;          
		}
        
        #vb {
            display: inline-block;
            padding: 5px;
            margin-right: 4px;
            margin-left: 4px;
        }       
        
        input {
            border:none;
        }
        
        .gdpr{
          padding: 5px;
          border: 2px solid #5499C7;
        }
        
        
        #fladd{
            border: 2px solid #5499C7;
            position: relative;
        }
        
       
        .p_box{
		  width: 500px;
		  padding: 30px;
		  border: 1px solid black;
		  display: inline-block;
          position: relative;
          left:300px;
          top:50px;
	   }
        .s_ctlg{
          position: relative;
          left:30px;
          top:10px;
	   }
       
        .bskt{
            cursor: pointer;	
            padding: 5px;
            border: 2px solid #9A7D0A;
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 10px;
            height: 10px;
            top: 6px;
            display: inline-block;
            position: relative;       
        }
     .fr{
        padding: 5px;
        border: 2px solid #5499C7;
        position: absolute;
        background-color: #F7DC6F;
        right: 50px;
      }
      a {text-decoration: none;}
	  a:visited {text-decoration: none;}        
</style>

<script>
    
    function refreshElem(b){
            
        switch(b) {
             case 1:
                var newElem = document.createElement('input'); 
                newElem.setAttribute("type", "file"); 
                newElem.setAttribute("name", "thePic[]");        
        
                document.getElementById("newpic").appendChild(newElem);    
                break;
             case 2:
                var theForm =  document.forms.editgoods;
                var myControls = theForm.elements['thePic[]'].length-1;
                myControls = myControls || 0;
                var el = document.getElementById('newpic');
                var x = document.getElementsByName("thePic[]")[myControls];
                el.removeChild(x);          
                break;
            case 3:
                var elems = document.getElementsByClassName('edit_view');
                for(var i = 0; i < elems.length; i++) {
                    if(elems[i].style.display == 'block') elems[i].style.display = 'none';
                    else if(elems[i].style.display == 'none') elems[i].style.display = 'block';
                }
                break;
          } 
    }
    
    function AddResponse(gp,flag,val,place){
        if(flag=="new" || flag=="edit"){
            refreshElem(3); 
            document.getElementsByName('flagsv_up')[0].value = flag;
        }    
        if(flag=="edit" || flag == "remove")
            val = document.getElementsByName('product_id[]')[val].value;    
            
        var ajax;
        ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function(){
            if(ajax.readyState === 4){
                var ajaxDisplay = document.getElementById(place);
                ajaxDisplay.innerHTML = ajax.responseText;
             }
         }
         switch(gp) {
             case "get":
                ajax.open("GET", "ajx1.php?"+flag+"="+val, true); 
                ajax.send();
                break;
             case "post":
                var formData = new FormData(document.getElementsByName(val)[0]);
                ajax.open("POST", "ajx1.php", true);
                ajax.send(formData);  
                refreshElem(3);              
                break;
          }
      }
       
     
</script>


<div id='add_toproducts' class='edit_view' style='display: none; z-index: 99;'>
<form action="#" method='post' name='editgoods' enctype='multipart/form-data'>
    <input type='hidden' name='flagsv_up' >

    <div id='v_edit'></div>
   
    <input type='button' class='btn' name='save' onclick='AddResponse("post","save","editgoods","nt10")' value='Save' > 
    <input type='button' class='btn' name='close' onclick='refreshElem(3)' value='X' > 
</form>
</div>

<div class="fr">
<a href="index.php?action=clear_login">logout</a>    
</div> 